<!doctype html>
<html lang="en">
<head>
	<title>about</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/iconfont.css"/>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<script src="/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		.myhead{background: url(/images/polygon.png) no-repeat;background-size: 100% 100%;min-height: 300px;position: relative;}
		.myhead .mypic{width: 100px;height: 100px;transition:1s;cursor:pointer;border-radius: 50%;border:5px solid #fff;background: url(/images/tx.png) no-repeat;background-size:cover;position: absolute;left: 0;right: 0;top:255px;margin: auto;}
		.myhead .mypic:hover{transform: rotate(360deg);}
		.text-success{margin: 60px 0 20px;}
	</style>
</head>
<body>
	<!--头部-->
	<% include header.ejs %>
	<div class="container-fluid">
		<div class="row myhead">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="mypic">
					
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h4 class="text-success">我的项目：</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-lg-offset-6 col-md-offset-6">
				<a href="http://www.yangtengguang.com:800/ggBlock/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						广_Music
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="http://www.bonc.com.cn/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						东方国信
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-lg-offset-6 col-md-offset-6">
				<a href="http://www.hshy41.com/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						恒盛昊悦
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="http://disneygarden.com/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						神奇乐园
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-lg-offset-6 col-md-offset-6">
				<a href="http://yangtengguang.com:800/block/block_heart/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						homeWOrk
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="http://www.yangtengguang.com:800/vue/" target="_blank" class="thumbnail">
					<div class="caption text-center">
						Vue
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h4 class="text-success">自我介绍：</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<ol class="list-group">
					<li class="list-group-item">1、1年项目经验，能够独立完成较复杂pc端页面以及移动端页面的开发；</li>
					<li class="list-group-item">2、熟练使用div+css以及HTML5、CSS3相关技术开发前端页面；</li>
					<li class="list-group-item">3、熟练使用Bootstrap、MUI等UI框架来进行网站开发；</li>
					<li class="list-group-item">4、熟练运用javascript、jQuery、nodejs、Vue、Ajax技术、json等技术，能够实现网站动态效果以及和后台交互；</li>
					<li class="list-group-item">5、微信小程开发；</li>
					<li class="list-group-item">6、熟悉Java</li>
					<li class="list-group-item">7、具有良好的团队合作精神，较好的沟通能力，高度的责任感，能主动学习钻研与工作相关的知识和技术。</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h4 class="text-success">联系方式：</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<ol class="list-group">
					<li class="list-group-item">1、微信：18734153794</li>
					<li class="list-group-item">2、手机：17718405924</li>
				</ol>
			</div>
		</div>
	</div>
	<!--底部-->
	<% include footer.ejs %>
	<!--置顶-->
	<script src="/js/ztop.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>