<div class="footer">
	<div class="wrap">
		<div id="fbr">
			<p>Copyright &copy; 2017  广广   版权所有
			</p>
			<!--<div class="ft-nav">
				<ul>
					<li class="active">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">Supports</a>
					</li>
					<li>
						<a href="about.html">Our Blog</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>-->
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--置顶-->
<div class="icon">
	<a href="javascript:void(0);" id="scroll">
		<i class="iconfont icon-up"></i>
	</a>
</div>